#maincontent {
    display: none;
}

/* Login */
.error_message {
    background: darkred;
    color: white;
    padding: 0.2em;
    margin-top: 0.2em;
    display: none;
}


/* Change cursor when hovering main project list, need to tighten this though */
td {
    cursor: pointer;
}

#projectdetails {
    display: none;
}