#maincontent {
    display: none;
}

/* Login */
.error_message {
    background: darkred;
    color: white;
    padding: 0.2em;
    margin-top: 0.2em;
    display: none;
}


/* Change cursor when hovering main project list, need to tighten this though */
td {
    cursor: pointer;
}

#projectdetails {
    display: none;
}

#projectloading {
    padding: 2em;
    font-size: larger;
    display: none;
    color: darkgray;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


h2 {
    padding-top: 1em;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
}

.tagname, .commentdate {
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}

#projecttags, #projectcomments {
    padding-bottom: 2em;
}
